<div class="app-wrapper default-theme">
  <div class="background">
    <div class="gradient">
      <div class="container">
        <img
          class="row justify-content-center billboard"
          src="../assets/billboard.jpg"
          alt="Vacation Free UP - Free Vacations for Resorts in Michigan's UP"
        />
        <h1>Welcome to Vacation Free UP</h1>
      </div>
    </div>
  </div>
  <div class="container">
    <p style="text-align: center">
      Vacation Free UP has partnered with select resorts in the Upper Peninsula of Michigan and Northern
      Wisconsin to provide free or discounted vacations for residents of Wisconsin, Michigan, and Illinois.
    </p>
    <p style="text-align: center">
      With the Covid-19 epidemic decreasing in the next few months, our goal is to give families a much-needed
      vacation while supporting resort destinations in the Upper Peninsula of Michigan and
      Northern Wisconsin. Please take a few minutes and complete the survey.
    </p>
    <p style="text-align: center">
      Upon completion of this survey, you will be notified by email of your free or discounted vacation.  
      Thank you for your time and supporting the travel industry and local workers while enjoying a great
      vacation.
    </p>
    <p style="font-weight: bold">
      Please fill out this short survey below and we will provide you with a free or discounted vacation to
      Michigan’s Upper Peninsula or Northern Wisconsin.
    </p>
    <div class="row justify-content-center">
      <div class="col-md-8">
        <app-survey-form></app-survey-form>
      </div>
    </div>
  </div>
</div>
