@use '~@angular/material' as mat;
$mat-primary: (
  main: #222021,
  // For slide toggle,
  contrast:
    (
      main: $light-primary-text,
      lighter: $dark-primary-text,
      darker: $light-primary-text
    )
);
$theme-primary: mat.define-palette($mat-primary, main, lighter, darker);

$mat-accent: (
  main: #d26333,
  // For slide toggle,
  contrast:
    (
      main: $light-primary-text,
      lighter: $dark-primary-text,
      darker: $light-primary-text
    )
);
$theme-accent: mat.define-palette($mat-accent, main, lighter, darker);

$mat-warn: (
  main: #ff0000,
  lighter: #ffb3b3,
  darker: #ff0000,
  200: #ff0000,
  // For slide toggle,
  contrast:
    (
      main: $light-primary-text,
      lighter: $dark-primary-text,
      darker: $light-primary-text
    )
);
$theme-warn: mat.define-palette($mat-warn, main, lighter, darker);

$vfu-primary: mat.define-palette(mat.$indigo-palette, 800, 300, 900);
$vfu-accent: mat.define-palette(mat.$light-blue-palette);
$vfu-warn: mat.define-palette(mat.$pink-palette, 600);

$vfu-theme: mat.define-light-theme($theme-primary, $theme-accent, $theme-warn);
